.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .content {
    flex: 1;
    padding-right: 20px;
    font-size: 16px;
    color: #333;
  }
  
  .image {
    flex: 1;
    text-align: right;
  }
  .image img{
    max-width: 200px;
    height: auto;
    border-radius: 15%;
    border: 2px solid #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .hospital-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .hospital-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .hospital-logo {
    width: 300px;
    height: 80px;
  }
  
  .hospital-title {
  font-size: 2rem;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  }
  
  .hospital-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 30px 40px 80px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .hospital-text {
    font-size: 1.2rem;
    color: #333;
    font-family: 'Open Sans', sans-serif;
  }
  



  /* App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.content {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

.table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  width: 100%;
}

.row {
  display: flex;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.row.selected {
  background-color: #e0e0e0;
}

textarea {
  flex: 1;
  padding: 10px;
  border: none;
  resize: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}


.App {
  text-align: center;
}

.table-container {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
  overflow: auto;
}

.table {
  display: flex;
  flex-direction: column;
}

.table-header {
  display: flex;
  background-color: #f0f0f0;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.table-cell-header {
  padding: 8px;
  flex: 1;
  text-align: center;
}

.table-row {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.table-cell {
  padding: 8px;
  flex: 1;
  text-align: center;
}










.about-us-container {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.About {
  text-align: center;
  padding: 20px 0;

}

.About h1 {
  font-size: 36px;
  color: #000000;
  margin-bottom: 20px;
}

.About p {
  font-size: 18px;
  color: #000000;
}


.team-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.team-member {
  flex-basis: calc(33.333% - 20px);
  text-align: center;
  margin-bottom: 20px;
}

.team-member img {
  max-width: 100%;
  border-radius: 45%;
}

.team-member h3 {
  font-size: 24px;
  color: #000000;
  margin-top: 10px;
}

.team-member p {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}
.mission {
  box-shadow: 20px 15px 5px rgba(117, 117, 117, 0.2);
}
.mission h2{
  text-align: center;
  padding: 20px 0;
}



body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.angebotsseite {
  text-align: center;
  padding: 100px;
  background-color: #333;
  color: #000000;
}

.angebotsseite h1 {
  text-align: center;
  background-color: #333;
  color: #ffffff;
}

.angebote-liste {
  text-align: center;
  padding: 20px;
}

.angebot {
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  border: 5px solid transparent;
  border-image-slice: 1;
  border-image-repeat: round;
  animation: lightBeam 40s linear infinite;
}

.angebot h2 {
  font-size: 24px;
  margin: 10px;
}

.angebot p {
  font-size: 16px;
}

.angebot:hover {
  transform: scale(1.05);
  color: rgb(255, 255, 255);
  background-color: #333;
  cursor: pointer;
}

@keyframes lightBeam {
  0% {
    border-image-source: linear-gradient(90deg, #ff0000, #ffae00, #ffee00);
  }
  25% {
    border-image-source: linear-gradient(90deg, #a2ff00, #00ff26, #00840d);
  }
  50% {
    border-image-source: linear-gradient(180deg, #00fbff, #00b3ff, #0051ad);
  }
  75% {
    border-image-source: linear-gradient(360deg, #8000ff, #ae00ff, #f700ff);
  }
  100% {
    border-image-source: linear-gradient(45deg, #ffffff, #a4a4a4, #000000);
  }
}



